* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  background-color: rgb(6, 6, 6);
  padding: 15px 15px;
}

a {
  text-decoration: none;
}

.Made-For-You {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-wrap: nowrap;
  gap: 11px;
  overflow-y: auto;
}

.card {
  width: 170px;
  height: 254px;
}
.card:hover {
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.2);
}
.card__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1px;
  height: 181px;
  margin-bottom: 6px;
}
.card__image-top-mirror-first {
  width: 154px;
  height: 6px;
  border-top-left-radius: 7.25px;
  border-top-right-radius: 7.25px;
  background: rgba(149, 230, 211, 0.3);
}
.card__image-top-mirror-second {
  width: 133px;
  height: 3px;
  border-top-left-radius: 7.25px;
  border-top-right-radius: 7.25px;
  background: rgba(149, 230, 211, 0.15);
}
.card__image img {
  width: 100%;
  object-fit: cover;
  border-radius: 7.25px;
  margin-bottom: 0;
}
.card__content {
  width: 100%;
  height: 59px;
  margin-bottom: 7.25px;
}
.card__content header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.card__content header h3 {
  color: rgb(224, 224, 224);
}
.card__content header span {
  color: #95E6D3;
}
.card__content p {
  color: rgb(137, 137, 137);
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.header__item {
  width: 100%;
  max-width: 210px;
}
.header__item:last-child {
  width: 100%;
  max-width: 362px;
}
.header__nav_left {
  height: 100%;
  width: 100%;
  max-width: 1050px;
}
.header__nav_right {
  width: 100%;
  max-width: 245px;
}

.menu {
  height: 54px;
  display: flex;
  align-items: center;
}
.menu__nav {
  padding: 10px 12px;
  border-radius: 8px;
  display: flex;
  gap: 15px;
  align-items: center;
  color: rgb(137, 137, 137);
  height: 50px;
  width: 100%;
}
.menu__nav img:last-child {
  display: none;
}
.menu__nav:hover {
  background-color: rgb(17, 17, 17);
  color: rgb(224, 224, 224);
}
.menu__nav:hover img:last-child {
  display: block;
}
.menu__nav:hover img:first-child {
  display: none;
}

.search__bar {
  width: 100%;
  height: 50px;
  padding-left: 60px;
  border-radius: 8px;
  background-image: url("../assets/icons/icon_search.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 20px center;
  background-color: rgb(6, 6, 6);
  border: none;
  outline: none;
  color: rgb(224, 224, 224);
}

.search__bar:hover {
  background-color: rgb(17, 17, 17);
}

.aside-bar {
  width: 100%;
  max-width: 260px;
  min-width: 150px;
}
.aside-bar__list {
  height: 100vh;
  padding-top: 15px;
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 8px;
}
.aside-bar__list .aside-bar__icon--active img:last-child {
  display: none;
}
.aside-bar__list:hover {
  background-color: rgb(17, 17, 17);
}
.aside-bar__list:hover .aside-bar__icon--active {
  color: rgb(224, 224, 224);
}
.aside-bar__list:hover .aside-bar__icon--active img:last-child {
  display: block;
}
.aside-bar__list:hover .aside-bar__icon--active img:first-child {
  display: none;
}
.aside-bar__item {
  padding: 0 0 10px 15px;
}
.aside-bar__link {
  display: grid;
  grid-template-columns: 28px 1fr;
  align-items: center;
  gap: 12px;
  color: rgb(137, 137, 137);
}

.aside-bar__item--arrow-right {
  background-image: url("../assets/icons/icon_arrow_right.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 95% top;
}

.player {
  margin: 0 auto;
  width: 100%;
  background: rgb(51, 56, 66);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: auto;
}
.player .controls {
  display: flex;
  gap: 5px;
}
.player .controls button {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.4);
  font-size: 20px;
  cursor: pointer;
}
.player .repeat {
  margin-top: 5px;
  background: none;
  color: rgb(255, 255, 255);
}
.player .pause {
  background: #1db954;
  color: rgb(0, 0, 0);
  border-radius: 50%;
  font-weight: bold;
}
.player .play {
  display: none;
}
.player .progress-area {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;
}
.player .progress-bar {
  width: 100%;
  background: rgba(137, 137, 137, 0.27);
  border-radius: 0.5px;
  position: relative;
}
.player .progress {
  border: 3px solid rgba(137, 137, 137, 0.27);
  width: 45%;
  background: rgb(224, 224, 224);
  border-radius: 0.5px;
}
.player .time {
  font-weight: 400;
  font-size: 12px;
  color: rgb(137, 137, 137);
}
.player .progress-area {
  margin: 15px 8px;
  justify-content: center;
  align-items: center;
}
.player .song-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
.player .song-info img {
  width: 48px;
  height: 48px;
  border-radius: 6px;
}
.player .song-text {
  font-weight: 400;
  font-size: 14px;
  font-style: regular;
  color: rgb(224, 224, 224);
  line-height: 100%;
  letter-spacing: 3%;
}
.player .song-title {
  margin-top: 12px;
}
.player .song-artist {
  margin-top: -7px;
  color: rgb(137, 137, 137);
}
.player .song-memories {
  color: rgb(137, 137, 137);
  margin-top: -7px;
}
.player .actions {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.player .actions ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.admin-layout {
  display: flex;
  flex-direction: row-reverse;
}

/*# sourceMappingURL=styles.css.map */
