@use "../../../scss/abstracts/variables";
@use "../../../scss/abstracts/mixins";

@import url("../../../css/styles.css");


.library_nav_bar{
    overflow: hidden;
    padding: 10px 25px;
    
    &__items{
        display: flex;
        align-items: center;
        gap: 35px;
        
            li:last-child{
                margin-left: auto;
            }
    }

    &__buttons_view{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__buttons_filter{
        display: flex;
        align-items: center;
        gap: 35px;
    }

    &--Liked_songs &__items{

        li:last-child{
            order: -1;
            margin-left: 0;
            margin-right: auto;
        }
    }
}

.library_cards{
    padding: 10px 25px;

    &__items{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 11px;
    }
}