@use "./abstracts/variables";
@use "./abstracts/mixins";
@use "./base/reset";
@use "./components/buttons";
@use "./components/cards";
@use "./layout/header";
@use "./layout/container";
@use "./layout/asidebar";
@use "./layout/footer";
@use "./layout/main";


.main {
  margin-top: 10px;
  overflow-y: auto;
}
.main::-webkit-scrollbar {
  display: none;
}

.admin-layout {  display: grid;
  grid-template-columns: minmax(150px, 260px) 1fr;
  grid-template-rows: 5vh 86vh 7vh;
  gap: 0px 7px;
  justify-items: left;
  justify-content: start;
  grid-template-areas:
    "aside-bar header"
    "aside-bar main"
    "aside-bar footer";
}

.aside-bar { grid-area: aside-bar; }

.header { grid-area: header; }

.main { grid-area: main; }

.footer { grid-area: footer; }


