@use "../abstracts/variables";


.player {
  width: 100%;
  max-width: 1211px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0.9%;
  left: 270px;
  margin-top: 0.4rem;
  padding: 0 2.1rem;
  background-color: #333842;
  border-radius:1rem;

  .player-left-container {
    display: flex;
    align-items: center;
    gap: 2.6rem;

    .player-controls {
      width: 65.5rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      ul li {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .player-buttons {
        display: flex;
        align-items: center;
        gap: 0.475rem;
      }

      .player-progress {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 100%;
        max-width: 23.6rem;

        .progress-time {
          color: #898989;;
          font-size: 1.2rem;
        }

        .progress-bar {
          flex: 1;
          height: 0.4rem;
          background-color:#898989;
          border-radius: 0.2rem;
          position: relative;
        }

        .progress-bar-fill {
          width: 48%;
          height: 100%;
          background-color:#FFF;
          border-radius: 0.2rem;
        }
      }
    }

    .player-info {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.2rem;

      .player-text {
        display: flex;
        flex-direction: column;
        font-size: 1.4rem;

        .player-title {
          color: #FFF;
        }

        .player-artist,
        .player-album {
          color: #898989;
        }
      }
    }
  }

  .player-right-container {
    width: 23.8rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }

  .player-btn {
    background: transparent;
    border: none;
    cursor: pointer;
  }
}
