@use "../abstracts/variables";

.header {
    display: flex;
    justify-content: space-between;
    &__item:first-child {
        width: 100%;
        max-width: 262px;
    }
    &__item:nth-of-type(2),
    &__item:nth-of-type(3) {
        width: 100%;
        max-width: 210px;
    }
    &__item:last-child {
        width: 100%;
        max-width: 362px;
        }
    &__nav_left {
        height: 100%;
        width: 100%;
        max-width: 1050px;
    }
    &__nav_right {
        width: 100%;
        max-width: 245px;
    }
}

.menu {
    height: 54px;
    display: flex;
    align-items: center;
    &__nav {
        padding: 10px 12px;
        border-radius: 8px;
        display: flex;
        gap: 15px;
        align-items: center;
        color: variables.$text-color-secondary;
        height: 50px;
        width: 100%;
        img:last-child {
            display: none;
        }
    }

    &__nav:hover {
        background-color: variables.$bg-color-hover;
        color: variables.$text-color-primary;
        img:last-child {
            display: block;
        }
        img:first-child {
            display: none;
        }
    }
}

