@use "../abstracts/variables";

.friends_activity{
    width: 0;
    opacity: 0;
    overflow: hidden;
    transition: width 0.3s ease;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    gap: 24px;
    border: 1px solid rgba(32, 32, 32, 1);
    border-radius: 10px;

    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3{
            padding: 10px;
            color: variables.$text-color-primary;
        }
    }

    &__nav-bar{
        display: flex;
        gap: 5px;

        button, label{
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover{
                opacity: 0.5;
            }
        }
    }

    &__list{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__item{
        display: flex;

        &-avatar{
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        &-info{
            display: flex;
            flex-direction: column;
            gap: 5px;

            &-name{
                color: variables.$text-color-primary;
                font-size: 14px;
                font-weight: 500;
            }

            &-activity{
                color: variables.$text-color-secondary;
                font-size: 12px;
            }
        }
    }
}

.hidden-trigger {
  display: none;

  &:checked ~ .main .friends_activity{
        width: 358px;
        opacity: 1;
        overflow: auto;
    }
}