$bg-color: rgb(6, 6, 6); // background color
$text-color-primary: rgba(224, 224, 224, 1); // text color selected
$text-color-secondary: rgba(137, 137, 137, 1); // text color unselected 
$bg-color-hover: rgb(17, 17, 17);